body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

/***********************************
***********************************
***********************************/

/*Navegación*/
header{
    width: 100%;
    /*width -- ancho /// height - alto*/ 
    height: 5%;
}

header nav {
    display: flex;
    /* Justificar hacia la derecha */
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 20%;
    color: #70757a;
    position: relative;
    height: auto;
    list-style: none;
    display: flex;
    /*Justificar al centro de 
    acuerdo al elemento*/
    justify-content: center;
    /*Centrando verticalmente*/
    align-items: center;
}

a{
    text-decoration: none;
}
    
/*Anclas dentro del nav para agregar espacio*/
nav .nav-right-section a{
    color: rgba(0,0,0,.87);
    margin-right: 20px;
}

/*Icono del menu*/
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Imagen del usuario*/
nav .nav-right-section img{
    /*Bordes redondeados*/
    border-radius: 100%;
    width: 40%;
    margin-left: 1%;
}





/**************************************/
/*Main*/
main{
    margin-top: 1%;
    /*Centrar los elementos*/
    text-align: center;
}

main .main-logo{
    width: 40%;
    margin-bottom: 1%;
    /*Vertical // Horizontal*/
    /*Centrado absoluto gracias a los margenes automaticos*/
    margin:0 auto;
}

main .main-logo img{
    width:80%;
}

main .main-input{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 3%;
}

main .main-input-container{
    width: 100%;/*modifique esta*/
    border: 1px solid #dfe1e5;
    border-radius: 20px;

}

main .main-input input{
    width: 83%;
    height: 35px;
    border: none;
    /*outline - quitar contorno al accionar click*/
    outline: none;
}

/*Efecto hover (sombra) al poner el mouse sin accionar*/
main .main-input-container:hover{
    background-color: #202124;
    border-color: #dfe1e500;
    /*0 -> Desplazamiento horizontal
    1px -> Desplazamiento vertical
    6px -> desenfoque
    0 -> expansion de la sombra
    */
    box-shadow: 0 1px 6px 0 #20212447;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    /*background-size: contain;*/
    background-position: center;
    /*propiedad para que no se repita el fondo*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-right: 2%;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 50%;
    height: 50%;
    padding-left: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 1%;
    height: 1%;
    padding: 2%;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 2%;
}

main .main-buttons {
    width: 40%;
    margin: 0 auto; /*Centrarlo aunque cambie el tamaño de la pantalla*/
}

main .main-buttons div{
    /*inline // inline block los pone en una sola linea*/
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 35px;
    background-color: #f8f9fa;
    font-size: 15px;
    color: #3c4043;
    border-radius: 4px;
    /*padding de arriba y abajo ->0
    padding de izquierda y derecha ->15px*/
    padding: 0 15px;
    margin-right: 15px;
    border: 1px solid #20212447;
}

main .main-buttons button:hover{
    box-shadow: 0 1px 3px 0 #20212447;
    border: 1px solid #dadce0;
    color:#202124;
}

/*FOOTER*/
footer{
    margin-top: 15%;
}
footer div.Pais{
    margin-left: 3%;
    padding: 1%;
    color: #70757a;
    font-size: 16px;
}
div.listas{
    border-top: 1px solid #dadce0;
}

footer div.listas{
    display: flex;
    justify-content: space-between;
}

footer div ul.Izq{
    width: 40%;
    display: flex;
    justify-content: flex-start;
}

footer div ul.Der{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

footer div ul li{
    margin-right: 2%;
    list-style: none;
}

footer a{
    text-decoration-style: none;
    color: #70757a;
}
